@import 'src/scss/mixins/_index.scss';

.Heading {
  @include text-main-mixin;

  &.xs {
    font-size: 16px;
  }
  &.s {
    font-size: 24px;
  }
  &.m {
    font-size: 32px;
  }
  &.l {
    font-size: 40px;
  }
  &.xl {
    font-size: 48px;
  }
}
