.Input {
  width: 100%;

  padding: 14px 0;
  padding-left: 17px;
  border-radius: 8px;

  background-color: var(--blossom-ui-light-background-color);
  color: var(--blossom-ui-primary-text-color);

  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;

  &::placeholder {
    color: var(--blossom-ui-dark-text-color);
  }
}
