.wrapper {
  width: 100%;
  min-height: 45px;

  overflow: hidden;
  transition: var(--blossom-ui-main-transition);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  & > img {
    width: 40px;
    height: 40px;
  }

  &[modal-state='idle'] {
    min-height: 0px;
    transition: var(--blossom-ui-main-transition);
  }

  &[modal-state='error'] {
    background-color: var(--blossom-ui-primary-red-color);
  }

  &[modal-state='success'] {
    background-color: var(--blossom-ui-primary-green-color);
  }

  &[modal-state='loading'] {
    background-color: var(--blossom-ui-primary-blue-color);
  }
}
