:root {
  // Blue colors
  --blossom-ui-light-blue-color: #696af7;
  --blossom-ui-primary-blue-color: #5051f9;
  --blossom-ui-dark-blue-color: #23236f;
  // Red colors
  --blossom-ui-light-red-color: #f66868;
  --blossom-ui-primary-red-color: #d34141;
  --blossom-ui-dark-red-color: #650606;
  // Green colors
  --blossom-ui-light-green-color: #61f69f;
  --blossom-ui-primary-green-color: #41d37e;
  --blossom-ui-dark-green-color: #1a8045;
  // Pink colors
  --blossom-ui-light-pink-color: #ffeaea;
  --blossom-ui-primary-pink-color: #ffabd6;
  --blossom-ui-dark-pink-color: #93406b;
  // White colors
  --blossom-ui-white-color: #ffffff;
}
