:root[data-theme='dark'] {
  // Background colors
  --blossom-ui-light-background-color: #212229;
  --blossom-ui-primary-background-color: #1e1f25;
  --blossom-ui-dark-background-color: #131517;
  // Text colors
  --blossom-ui-light-text-color: #ffffff;
  --blossom-ui-primary-text-color: #eeeeee;
  --blossom-ui-dark-text-color: #a9abad;
  // Additional colors
  --blossom-ui-accent-color: #5051f9;
  --blossom-ui-border-color: rgba(80, 80, 249, 0.1);
}
