:root[data-theme='light'] {
  // Background colors
  --blossom-ui-light-background-color: #f4f4f4;
  --blossom-ui-primary-background-color: #ffffff;
  --blossom-ui-dark-background-color: #ececec;
  // Text colors
  --blossom-ui-light-text-color: #f1f1f1;
  --blossom-ui-primary-text-color: #595459;
  --blossom-ui-dark-text-color: #aba3aa;
  // Additional colors
  --blossom-ui-accent-color: #ffeaea;
  --blossom-ui-border-color: rgba(255, 255, 255, 0.1);
}
